#about {
  background-color: #393939;
  color: #fff;
  padding: 0.9375em;
}
@media only screen and (min-width: 40.063em) {
  #about {
    position: fixed;
    top: 286px;
    left: 0;
    width: 200px;
  }
}

#about h2 {
  color: #fff;
}
#about i {
  color: #fff;
  font-size: 1.5rem;
}
#about a {
  margin-right: 0.9375em;
}
