#footer {
  background-color: #393939;
  color: #fff;
}
#footer .row {
  padding: 0.9375em 0.46875em;
  margin-top: 0.9375em;
}
#footer a {
  text-align: center;
}
#footer i {
  color: #fff;
  font-size: 1.6em;
}
