#footer {
  background-color: #393939;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.9375em;
  margin-top: 0.9375em;
}
#footer a {
  text-align: center;
}
#footer i {
  color: #fff;
  font-size: 2rem;
}
