#header {
  background-color: #393939;
  height: 120px;
  padding: 0.9375em;
}
@media only screen and (min-width: 40.063em) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 200px;
  }
}

#photo {
  height: 100%;
  float: right;
}
@media only screen and (min-width: 40.063em) {
  #photo {
    width: 100%;
    height: auto;
    padding-bottom: 0.9375em;
  }
}

#name {
  color: #fff;
  font-size: 2em;
  float: left;
  margin-top: 0;
}
