.image {
  margin-bottom: 1.25rem;
  width: 100%;
}
.image.center {
  text-align: center;
}
.image.left {
  text-align: left;
}
.image > em {
  color: #9e9e9e;
  display: block;
  font-size: 0.8rem;
}
