h1, h2, h3, h4 {
  font-weight: bold;
}

time {
  color: #6a6a6a;
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 1.875em;
}

#container {
  max-width: 700px;
  min-width: 320px;
  margin: auto;
}
@media only screen and (min-width: 40.063em) {
  #container {
  }
}

#content {
}

ol.posts {
  margin-left: 0;
}
ol.posts li {
  list-style-type: none;
  margin-bottom: 1.875em;
}

.footnotes li {
  list-style-type: decimal !important;
}
.footnotes p {
  margin: 0;
}
