#prev-post, #next-post {
  background: #e9e9e9;
  border: 1px solid #20ade5;
  margin-top: 0.9375em;
  padding: 0.9375em;
}

#prev-post {
  border-left: 0;
  margin-left: -0.9375em;
  margin-top: 2.8125em;
}
@media only screen and (min-width: 40.063em) {
  #prev-post {
    border-left: 1px solid #20ade5;
    margin-left: 0;
  }
}

#next-post {
  border-right: 0;
  margin-right: -0.9375em;
}
@media only screen and (min-width: 40.063em) {
  #next-post {
    border-right: 1px solid #20ade5;
    margin-right: 0;
  }
}

#prev-post i, #next-post i {
  display: block;
  position: relative;
  font-size: 1.5rem;
}

#prev-post i {
  float: left;
  left: 0;
}

#next-post i {
  float: right;
  right: 0;
}

#prev-post p, #next-post p {
  margin-bottom: 0;
}

#prev-post p {
  margin-left: 1.875em;
}

#next-post p {
  margin-right: 1.875em;
}
