#share {
  margin-top: 2.8125em;
}

#share h4 {
  float: left;
}

#share [class^="icon-"] {
  font-size: 2.5rem;
  margin-left: 0.46875em;
}

#share .icon-twitter-squared {
  color: #55acee;
}

#share .icon-gplus-squared {
  color: #dd4b39;
}

#share .icon-facebook-squared {
  color: #3B5998;
}
