#share {
  margin-top: 2.8125em;
  text-align: center;
}

#share a {
  color: #fff;
  margin-right: 10px;
  padding: 10px;
}
#share a:hover {
  opacity: 0.75;
}

#share .twitter {
  background-color: #55acee;
}

#share .google-plus {
  background-color: #db4437;
}

#share .facebook {
  background-color: #3B5998;
}
