---
title: AaronLasseigne.com
layout: default
---

<div class="header">
  <div class="container homepage-header">
    <picture>
      <source
        media="(min-width: 590px)"
        srcset="/images/index/full_me.png 1x, /images/index/full_me-2x.png 2x"
      >
      <source srcset="/images/me.png 1x, /images/me-2x.png 2x">
      <img src="/images/index/full_me.png" alt="Photo of {{ site.data.author.name }}">
    </picture>
    <div class="intro">Hi, I'm <strong>{{ site.data.author.name }}</strong>.</div>
    <p>
      I'm a software developer, an open source maintainer, a Ruby group organizer, and an author.
    </p>
  </div>
</div>

<div class="container homepage">
  {% include ads/mastering-ruby-strings-and-encodings.html %}
  <div style="text-align: center">
    <a href="https://devchat.tv/ruby-rogues/rr-340-strings-encodings-ruby-aaron-lasseigne">Hear me discuss strings and encodings on the Ruby Rogues podcast.</a>
  </div>
  <div class="section">
    <h2>About Me</h2>
    <p>
      During the course of my career I've done a lot.
      The bulk of my professional experience has focused on Ruby (Rails) and JavaScript (React).
      However, I'm an avid learner and have experimented with many other languages on my own time.
      I've played every role on the team from developer, to project lead, to manager.
      I've maintained and updated legacy code and I've taken greenfield projects from start to finish.
    </p>
    <p>
      You can find out more about my background on my <a href="https://www.linkedin.com/in/{{ site.data.author.linkedin }}/">LinkedIn</a> profile.
      You'll also find some of my open source work in the Contributor section below.
    </p>
  </div>

  <div class="section">
    <h2>Contributor</h2>
    <p>
      I enjoy helping the programming community when I can.
      I've been a regular attendee of the <a href="http://www.dallasrb.org">Dallas Ruby Brigade</a> for many years and I now help run the group.
      During that time, I've presented many times on a variety of topics and helped others to ready their first talks.
      I've also volunteered for Rails Girls, presented to high school students on software development as a career, and sat on the computer science advisory committee for Brookhaven College.
    </p>
    <div class="sub-section">
      <div>
        <h3>ActiveInteraction</h3>
        <div class="description">
          <div class="logo active-interaction">💼</div>
          <p>
            I created <a href="https://github.com/AaronLasseigne/active_interaction/">ActiveInteraction</a> with <a href="http://taylor.fausak.me">Taylor Fausak</a> to provide Rails with service objects that fit seamlessly into the existing ecosystem.
            It currently has over 1.8k stars on GitHub.
          </p>
        </div>
      </div>
      <div>
        <h3>Tables of Stuff</h3>
        <div class="description">
          <img src="/images/index/tables_of_stuff.png" class="logo" height="60px" />
          <p>
            Built using React on top of Middleman, <a href="https://tablesofstuff.com">Tables of Stuff</a> provides easy to search tables for a variety of character encodings.
            Check out the <a href="https://tablesofstuff.com/encodings/ascii/">ASCII</a> table for an example.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <h2>Author</h2>
    <p>
      In addition to by book I've also been blogging since 2012.
      It has helped me grow as a developer and provided another avenue for me to help others learn.
      I've been in <strong>featured in Ruby Weekly</strong> numerous times including the top spot for an article covering new methods in Ruby 2.2 which was re-tweeted by Matz (the creator of Ruby).
      I've had articles appear on the Ruby5 podcast, Ruby Inside, and a variety of other sites.
      On occasion you'll find my writings on Sitepoint.
    </p>
    <div class="sub-section">
      <div>
        <h3>Popular Posts</h3>
        <ul>
          <li><a href="{% post_url 2016-01-04-rubys-new-safe-navigation-not-equal-operator %}">Ruby's New &.!= Operator</a></li>
          <li><a href="{% post_url 2016-04-27-improving-large-rails-apps-with-service-objects %}">Improving Large Rails Apps with Service Objects</a></li>
          <li><a href="{% post_url 2014-07-20-know-ruby-clone-and-dup %}">Know Ruby: clone and dup</a></li>
          <li><a href="{% post_url 2012-01-17-explaining-include-and-extend %}">Explaining Include and Extend</a></li>
        </ul>
      </div>
      <div>
        <h3>Sitepoint</h3>
        <ul>
          <li><a href="https://www.sitepoint.com/guard-and-docker/">Happy Ending: An Epic Saga of Guard and Docker</a></li>
          <li><a href="https://www.sitepoint.com/new-methods-ruby-2-2/">New Methods in Ruby 2.2</a></li>
          <li><a href="https://www.sitepoint.com/clojure-loops-ruby/">Clojure Loops in Ruby</a></li>
        </ul>
      </div>
      <div class="full">
        <h3>Newest Post</h3>
        <ol class="posts">
          {% assign post = site.posts[0] %}
          <li>
            <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
            {% include time.html date=post.date %}

            <div class="post">
              {{ post.excerpt }}
              <a href="{{ post.url }}">Read More</a>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <a href="/posts/" class="all-posts">View All Posts</a>
  </div>
</div>
