---
layout: default
title: AaronLasseigne.com
---

<ol class="posts">
  {% for post in paginator.posts %}
    <li>
      <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
      {% include time.html date=post.date %}

      <div class="post">
        {{ post.excerpt }}
        <a href="{{ post.url }}">Read More</a>
      </div>
    </li>
  {% endfor %}
</ol>

{% if paginator.total_pages > 1 %}
<div class="pagination-centered">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="arrow"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left"></i></a></li>
    {% else %}
      <li class="arrow unavailable"><a href=""><i class="fa fa-chevron-left"></i></a></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li class="current"><a href="">{{ page }}</a></li>
      {% elsif page == 1 %}
        <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
        <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <li class="arrow"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right"></i></a></li>
    {% else %}
      <li class="arrow unavailable"><a href=""><i class="fa fa-chevron-right"></i></a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
