{% if page.url == "/" %}
  {% assign type = 'website' %}
  {% assign title = site.name %}
  {% assign description = site.description %}
{% else %}
  {% assign type = 'article' %}
  {% assign path = page.url %}
  {% assign title = page.title %}
  {% if page.description %}
    {% assign description = page.description %}
  {% else %}
    {% assign description = page.content | markdownify | strip_html | replace: '"', '&#x22;' | split: ' ' | join: ' ' | truncate: 200 %}
  {% endif %}
{% endif %}
{% if page.image %}
  {% assign image = site.url | append: page.image %}
{% else %}
  {% assign image = site.url | append: site.data.author.image %}
{% endif %}
<meta property="og:site_name" content="{{ site.name }}">
<meta property="og:type" content="{{ type }}">
<meta property="og:url" content="{{ site.url }}{{ path }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="{{ image }}">
