@import 'variables';

#footer {
  color: $subtle;
  margin-top: $spacing * 4;

  .links {
    display: flex;
    justify-content: space-between;

    margin-top: $spacing;
    padding: $spacing ($spacing / 2);

    a {
      color: $subtle;
      font-size: 1.25em;
    }
  }

  p {
    font-size: .9em;
    margin: 0px;
    padding: 0 $spacing;
  }

  .copyright {
    font-size: .7em;
    padding: $spacing ($spacing / 2);
    text-align: center;
  }
}
