@import 'variables';

#footer {
  margin-top: $spacing * 4;

  > div {
    color: $subtle;
  }

  .links {
    display: flex;
    justify-content: space-around;

    margin-top: $spacing;
    padding: $spacing ($spacing / 2);

    a {
      color: $subtle;
      font-size: 1.6em;
    }
  }

  .copyright {
    margin-top: $spacing;
    padding: $spacing ($spacing / 2);
    text-align: center;
  }
}
