@import 'variables';

#header {
  background-color: #393939;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: $spacing 0 0 0;
    position: relative;

    @media only screen and (min-width: $screen-small) {
      padding: $spacing $spacing 0 $spacing;
    }
  }

  .logo {
    flex-basis: 100%;

    @media only screen and (min-width: $screen-small) {
      flex-basis: 300px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: $screen-small) {
        justify-content: flex-start;
        margin-left: 5px;
      }
    }

    img {
      height: 100px;
    }

    h1 {
      color: $white;
      font-size: 1.75em;
      margin: 0 0 0 ($spacing / 2);
    }
  }

  ul {
    align-items: flex-end;
    border-top: 1px solid $subtle;
    display: flex;
    font-size: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: $spacing 0;
    width: 100%;

    @media only screen and (min-width: $screen-small) {
      border-top: 0;
      width: auto;
    }

    a {
      padding-left: $spacing;
      color: $subtle;

      &:hover {
        color: $white;
      }
    }
  }
}
