@import 'variables';

#header {
  background-color: #393939;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    height: 170px;
    padding-top: $spacing;
    position: relative;

    @media only screen and (min-width: $screen-small) {
      height: 150px;
      padding: $spacing;
    }
  }

  .logo {
    flex-basis: 100%;

    @media only screen and (min-width: $screen-small) {
      flex-basis: 300px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (min-width: $screen-small) {
        justify-content: flex-start;
      }
    }

    img {
      border-radius: 5%;
      height: 80px;
      width: 80px;

      @media only screen and (min-width: $screen-small) {
        height: 100px;
        width: 100px;
      }
    }

    h1 {
      color: $white;
      font-size: 2em;
      margin: 0 0 0 ($spacing / 2);
    }

    .arrow-up {
      @media only screen and (min-width: $screen-small) {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $white;
        height: 0;
        width: 0;

        position: absolute;
        left: 45px;
        top: 130px;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    flex: 1;
    @media only screen and (min-width: $screen-small) {
      flex: 0 1 190px;
    }

    display: flex;
    @media only screen and (min-width: $screen-small) {
      align-items: flex-end;
      justify-content: space-around;
    }

    font-size: 1.4em;

    li {
      flex: 1;

      display: flex;
      align-items: center;

      text-align: center;

      a {
        flex: 1;

        color: $subtle;
      }

      &.current {
        background-color: $white;
        font-weight: bold;
        @media only screen and (min-width: $screen-small) {
          background-color: transparent;
        }

        a {
          color: $body-text;
          @media only screen and (min-width: $screen-small) {
            color: $white;
          }
        }
      }
    }
  }
}
