@import 'variables';

.header {
  background-color: #393939;
  padding-top: $spacing;
  margin-bottom: $spacing;
}

.homepage-header {
  align-items: center;
  color: #fff;
  font-size: 1.3em;
  line-height: 150%;

  @media only screen and (min-width: $screen-small) {
    height: 300px;
  }

  img {
    float: left;
    height: 120px;
    padding-right: $spacing * 2;

    @media only screen and (min-width: $screen-small) {
      height: 300px;
    }
  }

  .intro {
    align-items: center;
    display: flex;
    font-size: 1.3em;
    height: 120px;
    margin: 0px;
    margin-bottom: $spacing * 2;

    @media only screen and (min-width: $screen-small) {
      padding-top: $spacing * 4;
      height: auto;
    }

    .name {
      font-weight: 600;
    }
  }
}

.homepage {
  padding: $spacing;

  @media only screen and (min-width: $screen-medium) {
    padding: $spacing 0 0 0;
  }

  .section {
    &:not(:first-child) {
      margin-top: $spacing * 3;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.25em;
      margin-bottom: $spacing / 2;
    }
  }

  .sub-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div {
      flex: 0 0 100%;
      margin-top: $spacing;

      @media only screen and (min-width: $screen-small) {
        flex: 0 0 48%;
        margin-top: 0;
      }

      &.full {
        flex-basis: 100%;
      }
    }

    p {
      margin: 0;
    }

    ul {
      list-style-type: none;
      padding-left: $spacing;
    }

    ol {
      margin-top: $spacing;
      padding-left: $spacing;
    }
  }

  .posts {
    p {
      margin: $spacing 0;
    }
  }

  .description {
    .logo {
      margin-right: $spacing;
      float: left;

      &.active-interaction {
        font-size: 60px;
        line-height: 60px;
      }
    }
  }

  .subtle {
    color: darken($subtle, 20%);
  }

  .all-posts {
    display: block;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
}
