@import 'variables';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $body-text;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-size: 2.5rem;

  @media only screen and (min-width: $screen-small) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.6875rem;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-dark;
  }
}

time {
  color: $subtle;
  display: block;
  font-size: 0.8rem;
  font-style: italic;
  margin: $spacing 0;
}

.container {
  max-width: 700px;
  min-width: 320px;
  margin: auto;
}

ol.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-bottom: $spacing * 4;

    > a {
      color: $body-text;
    }
  }
}

figure {
  margin-left: 0 !important;
}

blockquote {
  color: #757575;
  border-left: 1px solid $subtle;
  margin: $spacing;
  padding-left: $spacing;
}

kbd {
  background-color: #f8f8f8;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 0.125rem 0.3125rem 0.0625rem;
}
