@import 'variables';

#share {
  margin-bottom: $spacing * 6;
  margin-top: $spacing * 3;
  text-align: center;

  a {
    color: $white;
    padding: 8px;

    &:not(:last-child) {
      margin-right: $spacing;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  .twitter {
    background-color: #55acee;
  }

  .google-plus {
    background-color: #db4437;
  }

  .facebook {
    background-color: #3B5998;
  }
}
