@import 'variables';

#subscribe {
  border: 1px solid #ccc;
  background-color: #eee;
  margin: $spacing * 3 auto 0 auto;
  max-width: 340px;
  padding: $spacing;
  text-align: center;
  
  .title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: $spacing;
  }

  input[type=email] {
    border: 0;
    padding: 0 8px;
    height: 36px;
    width: 100%;

    @media only screen and (min-width: $screen-small) {
      width: inherit;
    }
  }
  
  .button {
    background-color: #649030;
    border: 0;
    color: $white;
    margin-top: $spacing;
    padding: 8px;

    &:hover {
      opacity: 0.75;
    }

    @media only screen and (min-width: $screen-small) {
      margin-left: $spacing / 2;
      margin-top: 0;
    }
  }
}
