@import 'variables';

#subscribe {
  display: flex;
  border: 1px solid #ccc;
  background-color: #eee;
  margin: $spacing * 3 auto 0 auto;
  max-width: 450px;
  padding: $spacing;
  text-align: center;
  @media only screen and (min-width: $screen-small) {
    padding: $spacing 0 $spacing $spacing;
  }

  img {
    display: none;

    @media only screen and (min-width: $screen-small) {
      display: block;
    }
  }

  .title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: $spacing;
  }

  input[type=email] {
    width: 100%;

    @media only screen and (min-width: $screen-small) {
      width: inherit;
    }
  }
  
  .button {
    @media only screen and (min-width: $screen-small) {
      margin-left: $spacing / 2;
      margin-top: 0;
    }
  }
}
