---
title: "Mastering Ruby: Strings and Encodings"
layout: default
image: /images/books/mastering-ruby/strings-and-encodings/cover.png
description: Learn everything there is to know about strings and encodings.
---

<div class="header">
  <div class="container book-header">
    <picture>
      <source srcset="/images/books/mastering-ruby/strings-and-encodings/cover.png 1x, /images/books/mastering-ruby/strings-and-encodings/cover-2x.png 2x" >
      <img src="/images/books/mastering-ruby/strings-and-encodings/cover.png" alt="Cover for Mastering Ruby: Strings and Encodings">
    </picture>
    <div class="title1">become<br>an</div>
    <div class="title2">expert</div>

    <a class="button" href="/assets/books/Mastering Ruby Strings and Encodings.pdf" download>Download</a>
  </div>

  <div class="forward">
    <div class="container">
      <picture>
        <source srcset="/images/books/mastering-ruby/strings-and-encodings/richard-schneeman.png 1x, /images/books/mastering-ruby/strings-and-encodings/richard-schneeman-2x.png 2x" >
        <img src="/images/books/mastering-ruby/strings-and-encodings/richard-schneeman.png" alt="Richard Schneeman">
      </picture>
      <div class="title">From the Forward by Richard Schneeman</div>
      <blockquote>
        I've been using Ruby for over ten years, and I'm still surprised to find new corners to explore.
        It wasn't until I came across this book that I realized how deep the string "rabbit hole" went.
      </blockquote>
    </div>
  </div>
</div>

<div class="container book">
  <div>
    <h2>Why Strings?</h2>

    <p class="subtext">They're <strong>everywhere</strong>!</p>

    <p class="desc">
      As devs, you and I create <strong>tons of strings</strong>.
      Probably <strong>more than any other object</strong> on a day to day basis.
      How much do you really know about strings?
      How about encodings?
      How familiar are you with <strong>Unicode and UTF-8</strong>?
    </p>

    <p class="example">
      Do you know why this would happen?

      <pre><code>'é' == 'é' <span class="result"># => false</span></code></pre>
    </p>

    <p class="example">
      Or why this length might be wrong?

      <pre><code>'à'.length <span class="result"># => 2</span></code></pre>
    </p>

    <p class="example">
      Do you know what dummy encodings are?

      <pre><code>Encoding::UTF_16.dummy? <span class="result"># => true</span></code></pre>
    </p>

    <p class="example">
      How about what this does?

      <pre><code>[128077, 32, 128078].pack('U*')</code></pre>
    </p>

    <p class="example">
      Do you know how to use an encoding converter?

      <pre><code>Encoding::Converter.new('UTF-8', 'US-ASCII')</code></pre>
    </p>
  </div>
  <div class="learn">
    <h2>Learn Everything</h2>

    <p class="subtext">Walk away an <strong>expert</strong>!</p>

    <ul>
      <li>
        By <strong>manipulating individual bytes</strong> you'll gain a better understanding of how encodings work.
        You'll also be better equipped to debug strings.
      </li>
      <li>
        You may have used <strong>Unicode and UTF-8</strong> but do you know the difference?
        Understand what they are and how the most popular encoding in the world works.
      </li>
      <li>
        Not only learn about UTF-8 but know enough to work with any encoding you run across.
        Understand what <strong>code points</strong> are and how to use them.
      </li>
      <li>
        What are <strong>normalization forms</strong>?
        How do you work with them?
        And why are they important?
      </li>
      <li>
        Learn about the <strong>different methods for creating strings</strong>.
        Find out why you should use one over another.
        You'll see helpful methods like <code>%q</code> and <code>*</code>.
        Get the entire story about <strong>how best to use heredocs</strong>.
      </li>
      <li>
        Should your object provide an <strong>implicit string conversion</strong> or only explicit?
        Learn the difference between <code>to_s</code> and <code>to_str</code>.
      </li>
      <li>
        Become an expert in <strong>immutable strings via freezing</strong> them.
        Find out why immutable strings are useful and why it might become the new normal in Ruby 3.0.
      </li>
      <li>
        Go <strong>beyond common methods</strong> so that you know the best method to use at any given moment.
        You'll see how <code>gsub</code> is overused and how methods like <code>delete</code> and <code>tr</code> can be better.
      </li>
      <li>
        <strong>Explore advanced solutions</strong> like using <code>Encoding::Converter</code> to fix invalid characters within a string.
      </li>
    </ul>
  </div>
  {% include books/mastering-ruby/strings-and-encodings/cta.html %}
  <div class="reviews">
    {% include books/mastering-ruby/strings-and-encodings/review.html
      photo="/images/books/mastering-ruby/strings-and-encodings/barrett-clark.jpg"
      quote="Mastering Ruby: Strings and Encodings is a fascinating and thorough discussion of strings. Aaron discusses the history of character encoding and then goes on to discuss how strings work and how we create and use characters. You may be thinking \"huh, a whole book on just strings?\" but Aaron does a good job of being informative and entertaining. 👍"
      from="Barrett Clark, author of Data Visualization Toolkit"
    %}

    {% include books/mastering-ruby/strings-and-encodings/review.html
      photo="/images/books/mastering-ruby/strings-and-encodings/amir-rajan.jpg"
      quote="The world operates on strings (you're reading one right now). Having a solid understanding of their internals, how to manipulate them, and all the \"devil in the details\" is incredibly important. Aaron's book is a fantastically informative read on all things `String` related."
      from="Amir Rajan, CEO of RubyMotion and creator of A Dark Room"
    %}

    {% include books/mastering-ruby/strings-and-encodings/review.html
      photo="/images/books/mastering-ruby/strings-and-encodings/charles-maresh.jpg"
      quote="I like how the book builds up concepts, layering one on the next. I've learned a lot about encodings, code points and backward compatibility. And the flow of information and content is really well done."
      from="Charles Maresh"
    %}

    {% include books/mastering-ruby/strings-and-encodings/review.html
      photo="/images/books/mastering-ruby/strings-and-encodings/chris-krailo.jpg"
      quote="Essential, valuable knowledge for all Ruby devs! I keep coming back to the lessons in this book, even senior devs will learn things. A+, would recommend!"
      from="Chris Krailo"
    %}
  </div>
  <div class="faq">
    <h2>F.A.Q.</h2>

    <p class="question">What if I’m unhappy with the book?</p>
    <p>
      There is a 30 day 100% money-back guarantee.
      Buy the book, give it a try, and if you really aren't happy with it, I'll refund your money.
    </p>

    <p class="question">What if I don't learn anything?</p>
    <p>
      Impossible!
      There's so much good information packed into these chapters that I'll bet you learn a lot.
      If you really don't feel like you got anything out of it, you've always got the 30 days to get a refund.
    </p>

    <p class="question">Does the book cover internationalization?</p>
    <p>
      No.
      I've done internationalization work and that's its own whole book.
      However, you can't internationalize your code without understanding encodings.
      This book will provide you or your team with a rock solid foundation that will let you take on the next step of internationalization with confidence.
    </p>

    <p class="question">Can I get a discount on a bulk purchase?</p>
    <p>
      Absolutely!
      Send me an email at <a href="mailto:{{ site.data.author.email }}">{{ site.data.author.email }}</a> and I'll make sure you get a discount.
    </p>
  </div>
  {% include books/mastering-ruby/strings-and-encodings/cta.html %}
  <div class="about">
    <h2>About the Author</h2>

    <picture>
      <source
        media="(min-width: 590px)"
        srcset="/images/index/full_me.png 1x, /images/index/full_me-2x.png 2x"
      >
      <source srcset="/images/me.png 1x, /images/me-2x.png 2x">
      <img src="/images/index/full_me.png" alt="Photo of {{ site.data.author.name }}">
    </picture>

    <p>
      Hi, I'm <strong>{{ site.data.author.name }}</strong>.
      I've been using Ruby for more than a decade.
      During that time, I've presented and written about Ruby including 13 articles in Ruby Weekly.
      I organize the Dallas Ruby Brigade and participate in open source.
      My most successful contribution is the ActiveInteraction gem with over 1.5k stars on GitHub.
    </p>
    <p>
      While doing all of this I've gained a strong understanding of Ruby and I'm excited to share what I've learned.
    </p>
  </div>
</div>

<script src="https://gumroad.com/js/gumroad.js"></script>
