<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    {% include twitter.html %}
    {% include opengraph.html %}

    <link href="/atom.atom" rel="alternate" type="application/atom+xml" title="{{ site.name }} (Atom)">
    <link href="{{ site.url }}{% if page.url != site.baseurl %}{{ page.url }}{% endif %}" rel="canonical">

    <link rel="stylesheet" href="/assets/all.css">
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="/">
          <h1 id="name">{{ site.data.author.name | replace: ' ', '<br>' }}</h1>
          <img id="photo" alt="Photo of {{ site.data.author.name }}" src="{{ site.data.author.image }}?s=170">
        </a>
      </div>
      <div id="content">
        {{ content }}
      </div>
      <div id="about">
        <h2 class="show-for-small-only">About</h2>
        <p>{{ site.description }}</p>
        <a href="//github.com/{{ site.data.author.github }}" role="button">
          <i class="icon-github-circled" aria-label="Github"></i>
        </a>
        <a href="//twitter.com/{{ site.data.author.twitter }}" role="button">
          <i class="icon-twitter" aria-label="Twitter"></i>
        </a>
        <a href="//keybase.io/{{ site.data.author.keybase }}" role="button">
          <i>KB</i>
        </a>
      </div>
      <div id="footer">
        <a href="/atom.atom" rel="subscribe-rss">
          <i class="icon-rss" aria-label="RSS"></i> Subscribe
        </a>
      </div>
    </div>
  </body>
</html>
