<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    {% if page.url == "/" %}
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="blog, ruby, programming, code">
    {% endif %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    {% include twitter.html %}
    {% include opengraph.html %}

    <link href="/atom.atom" rel="alternate" type="application/atom+xml" title="{{ site.name }} (Atom)">
    {% if page.canonical %}
      <link href="{{ page.canonical.url }}" rel="canonical">
    {% else %}
      <link href="{{ site.url }}{% if page.url != '/' %}{{ page.url }}{% endif %}" rel="canonical">
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <link rel="prev" href="/">
      {% else %}
        <link rel="prev" href="{{ site.url | append: paginator.previous_page_path | append: '/' }}">
      {% endif %}
    {% endif %}
    {% if paginator.next_page %}
      <link rel="next" href="{{ site.url | append: paginator.next_page_path | append: '/' }}">
    {% endif %}

    <link rel="stylesheet" href="/assets/all.css">
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="logo">
          <a href="/">
            <img alt="Photo of {{ site.data.author.name }}" src="{{ site.data.author.image }}?s=200">
            <h1>{{ site.data.author.name | replace: ' ', '<br>' }}</h1>
          </a>
          <div class="arrow-up"></div>
        </div>
        <ul role="navigation menu" class="menu">
          <li{% if page.url != '/about/' %} class="current"{% endif %}><a href="/">Posts</a></li>
          <li{% if page.url == '/about/' %} class="current"{% endif %}><a href="/about">About</a></li>
        </ul>
      </div>
    </div>

    <div id="content" class="container">
      {{ content }}
    </div>

    <div id="footer" class="container">
      <div class="links">
        <a href="https://twitter.com/{{ site.data.author.twitter }}">
          <i class="icon-twitter" aria-label="Twitter"></i>
        </a>
        <a href="https://github.com/{{ site.data.author.github }}">
          <i class="icon-github" aria-label="Github"></i>
        </a>
        <a href="https://keybase.io/{{ site.data.author.keybase }}">
          <i class="icon-key" aria-label="Keybase"></i>
        </a>
        <a href="/atom.atom" rel="subscribe-rss">
          <i class="icon-rss" aria-label="RSS"></i>
        </a>
      </div>
      <div class="copyright">
        &copy; 2012 - 2016
      </div>
    </div>
  </body>
</html>
