---
layout: default
---
<div id="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img
          src="/images/me.png"
          srcset="/images/me.png 1x, /images/me-2x.png 2x"
          alt="Photo of {{ site.data.author.name }}"
        >
        <h1>{{ site.data.author.name | replace: ' ', '<br>' }}</h1>
      </a>
    </div>
    <ul role="navigation menu">
      <li><a href="/posts/">Posts</a></li>
      <li>
        <a href="/atom.atom" rel="subscribe-rss">
          <i class="icon-rss" aria-label="RSS"></i>
        </a>
      </li>
    </ul>
  </div>
</div>

<div id="content" class="container">
  {{ content }}
</div>
