---
layout: default
---
<article>
  <header>
    <h2>{{ page.title }}</h2>
    {% include time.html date=page.date %}
  </header>

  {{ content }}

  {% if page.canonical %}
    {% include originally_posted_on.html original=page.canonical %}
  {% endif %}

  <footer>
    <div id="subscribe">
      <div class="box">
        <div class="title">Want to get my latest posts?</div>
        <form action="//aaronlasseigne.us13.list-manage.com/subscribe/post?u=dae92ed61377a2c83656f08aa&amp;id=e40d8ec050" method="post" target="_blank" novalidate>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_dae92ed61377a2c83656f08aa_e40d8ec050" tabindex="-1" value="">
          </div>
          <input type="hidden" value="1" name="group[2617][1]">
          <input type="email" value="" name="EMAIL" placeholder="email address" aria-label="email address">
          <input type="submit" value="sign up" name="subscribe" class="button">
        </form>
      </div>
    </div>

    <div id="share">
      <a href="https://twitter.com/intent/tweet?original_referer={{ site.url }}{{ page.url }}&text={{ page.title | cgi_escape }}&url={{ site.url }}{{ page.url }}&via={{ site.data.author.twitter }}" target="_blank" class="twitter" title="Twitter" role="button">
        <i class="icon-twitter"></i> tweet
      </a>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="google-plus" title="Google Plus" role="button">
        <i class="icon-google-plus"></i> share
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="facebook" title="Facebook" role="button">
        <i class="icon-facebook"></i> share
      </a>
    </div>
  </footer>
</article>
