---
layout: pages
---
<article>
  <header>
    <h2>{{ page.title }}</h2>
    {% include time.html date=page.date %}
  </header>

  {{ content }}

  {% if page.canonical %}
    {% include originally_posted_on.html original=page.canonical %}
  {% endif %}

  <footer>
    <div id="share">
      <a href="https://twitter.com/intent/tweet?original_referer={{ site.url }}{{ page.url }}&text={{ page.title | cgi_escape }}&url={{ site.url }}{{ page.url }}&via={{ site.data.author.twitter }}" target="_blank" class="twitter" title="Twitter" role="button">
        <i class="icon-twitter"></i> tweet
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="facebook" title="Facebook" role="button">
        <i class="icon-facebook"></i> share
      </a>
    </div>

    {% include books/mastering-ruby/strings-and-encodings/lead.html %}
  </footer>
</article>
