<div class="ad checkt">
  <a href="https://www.checkt.app">
    <picture class="pic">
      <source srcset="/images/ads/checkt/logo_white_bg.png 1x, /images/ads/checkt/logo_white_bg-2x.png 2x" >
      <img src="/images/ads/checkt/logo_white_bg.png" alt="checkt logo">
    </picture>
    <div>
      <picture class="title">
        <source srcset="/images/ads/checkt/logo_text.png 1x, /images/ads/checkt/logo_text-2x.png 2x" >
        <img src="/images/ads/checkt/logo_text.png" alt="checkt">
      </picture>
      <p>
        Checkt lets <strong>Slack teams easily add shared resources that can be checked in and out</strong>.
        No more bothering everyone to find out who's using the staging server or if that shared account is available!
        With checkt, you can even be notified when a resource is checked back in.
        <strong>Save time and resources with checkt.</strong>
      </p>
    </div>
  </a>
</div>
